.project
.settings/
salesforce.schema
/src/apps/
/src/appMenus
/src/applications
/src/assignmentRules
/src/communities
/src/email
/src/escalationRules
/src/flexipages
/src/homePageLayouts
/src/labels
/src/layouts
/src/package.xml
/src/profiles
/src/quickActions
/src/remoteSiteSettings
/src/roles
/src/settings
/src/workflows
