.project
.settings/
salesforce.schema
/src/apps/
/src/appMenus
/src/applications
/src/assignmentRules
/src/communities
/src/email
/src/escalationRules
/src/flexipages
/src/homePageLayouts
/src/labels
/src/layouts
/src/package.xml
/src/profiles
/src/quickActions
/src/remoteSiteSettings
/src/roles
/src/settings
/src/workflows

# Added by Illuminated Cloud
.sf/
.sfdx/
.localdev/
/IlluminatedCloud/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml
.idea/
